@font-face{
  font-family: customFont;
  src: url(\fonts\ProductSansBoldItalic.ttf);
}

h1{
  /* font-family: customFont; */
  font-size: 40px;
  font-family: 'Comic Sans';

}
  

* {
    box-sizing: border-box;
  }

  .search-container h1 {
      text-align: center;
      margin-bottom: 20px
  }

  .search-container {
      margin-top: calc(48px * 3)
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-top {
    flex-direction: row;
    flex-flow: row wrap;
  }
  
  .parent, .child {
    border-radius: 50px;
    height: 44px;
  }
  
  .parent {
    max-width:584px;
    width: calc(90% - 22px);
    min-width: 360px;
  }
  
  .child {
    border: 1px solid #dfe1e5;
    width: 100%;
    position: relative;
  }
  
  .child:hover {
    outline: none;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
  }
  
  #search-bar:focus ~ *, #search-bar:hover ~ div {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
  }
  
  #search-bar:focus {
    outline: none;
  }
  
  #search-bar {
    position: absolute;
    height: 42px;
    width: calc(90% - 144px);
    min-width: calc(360px - 122px);
    max-width: calc(584px - 122px);
    margin-left: 44px;
    margin-top: 1px;
    border: none;
    color: rgba(0,0,0,.87);
    font-size: 16px;
  }

  .child span {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      cursor: default
  }

  .input-button-cont {
    padding-top: 18px
  }

  input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

input[type="submit"]:active {
    outline: none;
    border-color: #1a73e8
}

.input-button-cont {
    display: flex;
    flex-flow: row nowrap;
}

#clear-btn {
    position: absolute;
    right: 22px;
    height: 44px;
    top: 0;
    display: none;
    background: none;
    border: none;
    color: #80868b;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#clear-btn::after {
    content: '';
    position: absolute;
    border-right: solid 1px #abb5bd;
    height: 22px;
    top: 11px;
    margin-left: 33px;
}

#clear-btn:focus, #clear-btn:active {
    outline:none
}

body{
    color:#202124;
    font-family: arial,sans-serif;
}


form{
    margin-bottom: 20px;
}

#resultSection{ 
    padding: 5px 0 5px 10%;
    width: 55vw;
}

.result-box{
    display:block;
    font-weight: normal;
    font-size: small;
    line-height: 1.58;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 30px;

}

a{
    padding-top: 1px;
    
    text-decoration: none;
    color:#202124;
    line-height: 1.3;

}

h3{
    
    font-weight: normal;
    font-size: 20px;
    line-height: 1.3;
    color: #1a0dab;
    -webkit-tap-highlight-color: rgba(0,0,0,.10);
    margin-block-end: 2px;
    margin-block-start: 2px;
}

p{
    color:#4d5156;
    margin-block-start: 3px;
    margin-block-end: 0;
}